* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #065f46;  
  --accent: #f59e0b;    
  --dark: #020617;     
  --light: #ffffff;     
}

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 0;

  background: transparent;
  color: white;
  z-index: 10;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  font-size: 1.2rem; 
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu a:hover {
  color: #f59e0b;
}

/* ================= INICIO ================= */
#inicio {
  height: 100vh;
  background: url('./img/machupichuu.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25%;
  color: var(--light);
  position: relative;
}


.overlay {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 500px;
}


.subtitle {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  color: var(--accent);
}


.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: var(--accent);
  color: var(--light);
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #d97706;
}