* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #065f46;  
  --accent: #f59e0b;    
  --dark: #020617;     
  --light: #ffffff;     
}

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;

  background: transparent;
  color: white;
  z-index: 10;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu a:hover {
  color: #f59e0b;
}